body {
  text-align: center;
  font-family: "system-ui", sans-serif;
  margin: 2em;
}

a {
  padding: 1em;
  text-decoration: none;
  color: #1a1a1a;
  white-space: nowrap;
}

.selected {
  font-weight: bold;
  text-decoration: underline;
}

button {
  margin: 2em;
}
